
@model BglGithubSite.Models.Query

@{
    ViewBag.Title = "Github User Search";
}

<div class="row">
    <div class="col-md-4">
        <h2>Github User Search</h2>
        <p>Enter a Github username via the search box to view a summary of their information.</p>
        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
            @Html.TextBoxFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

            <input type="submit" value="Search" />
        }
    </div>
</div>

