
@model BglGithubSite.Models.Query

@{
    ViewBag.Title = "Github User Search";
}

<div class="row">
    <div class="jumbotron">
        <h1>BGL Github User Search</h1>
        <p class="lead">A site using .net Framework MVC 5 by Steven Hammal as part of the interview process.</p>
        <p class="lead">Enter a Github username via the search box to view a summary of their information and top 5 Github repositories by number of stars.</p>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
            @Html.TextBoxFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username, null, new { @class = "text-danger" })

            <input type="submit" value="Search" />
        }
    </div>
</div>

